name: release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write # for trusted publishing via OIDC
  contents: write # for creating releases (changesets/action)
  issues: write # for posting issue comments (changesets/action)
  pull-requests: write # for creating pull requests (changesets/action)

jobs:
  release:
    if: github.repository == 'christoph-fricke/openapi-msw'
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Build Package
        run: npm run build
      - name: Version and/or Publish Package
        uses: changesets/action@v1
        with:
          publish: npm run release
          version: npm run version
          commit: "ci: release package"
          title: "ci: release package"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
